/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* (wombatDaiquiri): my styles below */

img {
    max-width: 100%;
}

body {
    background-color: #f1e8bc;
    color: #20232a;
}

#main {
    display: block;
    margin: 12pt auto;

    max-width: 1200px;
}

#avatar {
    display: block;
    margin: 12pt auto;

    max-width: 400px;
    max-height: 400px;
}

h1 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 24pt;
    font-weight: 600;
}

#drink-name {
    -webkit-text-stroke: 1px #fa3550;
    animation: flavor 2s linear infinite;
}

@keyframes flavor {
    0% {
        color: #fd3a57;
    }
    15% {
        color: #fa538f;
    }
    30% {
        color: #fb7fbb;
    }
    45% {
        color: #e6e8f3;
    }

    60% {
        color: #fb7fbb;
    }

    75% {
        color: #fa538f;
    }
    100% {
        color: #fd3a57;
    }
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.menu-page {
    display: block;
    margin: 0 auto;
    padding-top: 12pt;
    font-size: 16pt;
}

h2 {
    padding-top: 18pt;
    font-size: 18pt;
    font-family: 'Prata', serif;
}

.course-item {
    padding: 14pt 12pt 8pt 12pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-teaser {
    padding-right: 12pt;
}

.course-status {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course-status-text {
    font-family:  'Prata', serif;
    text-align: center;
    padding: 6pt;
}

.course-item:not(.out-of-stock) .course-status-text {
    border: 1px solid black;
}

.out-of-stock .course-teaser {
    -webkit-mask-image: -webkit-gradient(linear, left top,
    right top, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
}

.out-of-stock .course-status {
    opacity: 0.4;
}

.course-item-addon {
    padding-top: 12pt;
    padding-left: 18pt;
}

.course-name {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    font-size: 18pt;
}

.course-description {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
}

#hopefully-bot-proof-but-human-readable {
    font-size: 18pt;
    font-family: 'Annie Use Your Telescope', cursive;
}

#footer {
    margin: 0 auto;
    padding: 40pt 0 80pt 0;
    text-align: center;
}

